<h1>{{title}}</h1>
<md-checkbox>Check me!</md-checkbox><br />
<md-input-container>
    <input mdInput placeholder="Favorite food" value="Sushi">
</md-input-container><br />
<md-select placeholder="Favorite food">
    <md-option *ngFor="let food of foods" [value]="food.value">
        {{ food.viewValue }}
    </md-option>
</md-select>
<hr />
<a contar-clicks>Contar</a>
<hr />
<input type="button" value="Hacer Algo" [disabled]="!notasListas" (click)="hazAlgo()"/>
<br />
<label>Título de esta página:</label>
<input type="text" [(ngModel)]="title" />
<hr />
<input type="button" *ngIf="action === 'new'" value="Guardar">
<input type="button" *ngIf="action === 'edit'" value="Editar">
<hr />
<ul>
    <li *ngFor="let nota of notas; let i = index" [ngClass]="{non: (i+1) % 2 !== 0}">
        <b>{{nota.titulo}}</b> {{nota.descripcion}}
    </li>
</ul>
<hr />
<ul>
    <li *ngFor="let nota of notas; let i = index" [ngStyle]="{backgroundColor: (i+1) % 2 !== 0 ? 'darkslategray' : 'transparent'}">
        <b>{{nota.titulo}}</b> {{nota.descripcion}}
    </li>
</ul>
<hr />
<div [ngSwitch]="response">
    <div *ngSwitchCase="200">Todo Perfecto!</div>
    <div *ngSwitchCase="199">Cuidado...</div>
    <div *ngSwitchCase="500">Algo está mal!</div>
    <div *ngSwitchDefault>No sabemos qué pasa!</div>
</div>